body,
html {
  height: 100%;
}

body {
  background: #0a0825;
}
.layout {
  padding: 20px;
  display: flex;
}
#main {
  height: 100%;
}
.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#player {
  width: 100%;
  aspect-ratio: 16/9;
  background: black;
}
.width-50 {
  width: 50%;
}
@media screen and (max-width: 700px) {
  .layout,
  .content {
    display: block;
  }
  .layout {
    padding: 0;
  }
  .width-50 {
    width: 100%;
  }
}
